/* Stiziles */

select {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  background-color: #f5f5f5;
  padding: 5px;
  display: inline-block;
  line-height: 12px;
  height: 12px;
  font-size: 14px;
  box-sizing: content-box;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('/fonts/OpenSans-CondBold-webfont.eot');
  src: url('/fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/OpenSans-CondBold-webfont.woff') format('woff'),
  url('/fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
  url('/fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}
html, body, #content{
  font-family: 'open_sans_condensedbold';
  height: 100%;
}

html, body {
  background: #dae2e6;
}

/* main */
.main {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  background: #dae2e6;
  color: #000;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

#PatternListWrapper {
  max-width: 100%;
  overflow-y: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

#PatternListWrapper.with-form {
  width: calc(100% - 335px);
}

.PatternList,
.loopPatterns {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin-left: 10px;
}
.PatternList li ul {
  list-style: none;
  padding: 0;
}

.PatternList >li .inner {
  padding: 12px;
}

.PatternList >li,
.PatternList .loopPatterns >li{
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  margin: 0 9px 9px 0;
  width: 320px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  background-color: #fff;
}

.PatternList .loop {
    width: auto;
}

#SequencerHeader {
  height: 40px;
  background-color: #000;
  color: #fff;
}

#SequencerHeader h1 {
  display: inline-block;
  margin: 0;
  line-height: 40px;
  vertical-align: middle;
  font-weight: normal;
  font-size: 18px;
  padding-left: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#SequencerHeader .nav li,
#SequencerHeader .nav {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

#SequencerHeader .nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

#SequencerHeader .nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

#SequencerHeader .nav-right {
  float: right;
  margin-right: 10px;
}
#SequencerHeader .nav-left li a{
  padding: 0 20px;
}
#SequencerHeader .nav-left li a:hover {
  background-color: #ff5722;
}
#SequencerHeader .nav-right li a{
  padding: 0 10px;
}
.clear {
  clear: both;
}

.TrackTitle {
  font-size: 28px;
  text-transform: uppercase;
  background-color: #fff;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.TrackTitle .NameInput {
  display: inline-block;
}

.title-label {
  display: inline-block;
  margin-right: 10px;
}

.NameInput .title {
  color: #ff5722;
}

.NameInput .trackName {
  display: inline-block;
  width: 320px;
}

.NameInput .inputName input {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999999;
  color: #999999;
  margin: 0;
  padding: 0;
}

.NameInput input:focus {
  outline: none;
}

.TrackTitle .controls {
  float: right;
  display: inline-block;
  list-style: none;
  padding: 0;
  height: 60px;
  line-height: 60px;
  margin: 0;
}

.TrackTitle .controls li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  height: 60px;
  line-height: 60px;
  margin-top: -6px;
}

.Counter * {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.Counter .button {
  width: 35px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #515b60;
  color: #fff;
  border: 1px solid #434d51;
  border-radius: 4px;
}
.Counter .button.minus {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.Counter .button.plus {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.Counter input{
  line-height: 34px;
  height: 32px;
  width: 50px;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border: none;
  border-top: 1px solid #434d51;
  border-bottom: 1px solid #434d51;
}

.Counter .label {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-right: 10px;
}
.lineAndLoop button {
  float: left;
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  background: #515b60;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  padding: 0;
  margin: 0;

  border-radius: 3px;
  width: 102px;
  margin-right: 14px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
.PatternForm .Tempo.Counter,
.Loops.Counter {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
}

.PatternForm .Tempo.Counter *,
.Loops.Counter *{
  height: 22px;
  line-height: 22px;
}
.PatternForm .Tempo.Counter input,
.Loops.Counter input{
  width: 34px;
  height: 20px;
  line-height: 22px;
}

.PatternForm .Tempo.Counter .button,
.Loops.Counter .button{
  width: 23px;
}
.PatternForm .Tempo.Counter .label,
.Loops.Counter .label{
  font-size: 14px;
  font-family: 'open_sans_condensedbold';
}

.head-wrapper .NameInput{
  float: left;
}

#PatternFormWrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

#PatternFormWrapper.hidden{
  display: none;
}

.create-pattern {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #515b60;
  line-height: 35px;
  height: 35px;
  padding: 0 15px;
  border-radius: 4px;
  display: inline-block;
  text-transform: none;
  text-decoration: none;
  position: relative;
  top: -3px;
}

.PatternForm {
  width: 296px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  position: relative;

}

.PatternForm .submit {
  margin-top: 12px;
}

.PatternForm .submit a,
.PatternForm .submit input {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #515b60;
  text-decoration: none;
  color: #fff;

  padding: 0;
  margin: 0;

  border-radius: 3px;
  width: 141px;
  margin-right: 14px;
  height: 36px;
  line-height: 36px;
}

.PatternForm .submit input {
  margin-right: 0;
  background-color: #ff5722;
}

.PatternForm .buffer {
  width: 90px;
}

.PatternForm .subDiv {
  width: 137px;
}

.PatternForm .lines ul{
  list-style: none;
  padding: 0;
}

.PatternForm .NameInput {
  margin-bottom: 5px;
}

.PatternForm .NameInput .title{
  text-transform: uppercase;
}

.time-signature {
  margin-bottom: 10px;
}
.time-signature label {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 20px;
  color: #999999;
}

.time-signature .divider {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.PatternForm .lines li {
  margin-bottom: 5px;
}

.PatternForm .lines li select {
  margin-right: 10px;
}

.PatternForm .lines {
  margin-bottom: 10px;
}

.PatternForm .remove-line {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
  padding: 0;
  background-color: #f5f5f5;
  height: 24px;
  line-height: 22px;
  text-align: center;
  width: 24px;
}

.notes li {
    background-color: #495256;
    border-radius: 3px;
    display: inline-block;
    height: 60px;
    list-style: none;
    content: ' ';
    position: relative;
    text-align: center;
    font-size: 8px;
    line-height: 20px;
    vertical-align: middle;
    margin: 2px 1.5px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    box-shadow: 0 -1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.7);
}

.notes li[data-note-volume='0'] {
    background-color: #495256;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}


.notes li[data-note-volume='0.33'] {
    background-color: #fcdaaf;
}

.notes li[data-note-volume='0.66'] {
    background-color: #ffcc80;
}

.notes li[data-note-volume='1'] {
    background-color: #ff8a65;
}

.notes li[data-is-on='true'] {
    background-color: #4cb748;
}

.notes li[data-note-size='1'] {
    width: 957px;
}

.notes li[data-note-size='2'] {
    width: 477px;
}

.notes li[data-note-size='4'] {
    width: 237px;
}

.notes li[data-note-size='8'] {
    width: 117px;
}

.notes li[data-note-size='12'] {
    width: 77px;
}

.notes li[data-note-size='16'] {
    width: 57px;
}

.notes li[data-note-size='24'] {
    width: 37px;
}

.notes li[data-note-size='32'] {
    width: 27px;
}

.notes li[data-note-size='48'] {
    width: 17px;
}

.notes li[data-note-size='64'] {
    width: 12px;
}

ul.notes {
    padding-left: 68px;
    position: relative;
    white-space: nowrap;
}
ul.notes:before {
    content: attr(data-buffer);
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    width: 68px;
    padding-right: 5px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
}

.lines {
    list-style: none;
    padding: 0;
}

.patterns {
    background-color: #636c70;
}

.loopPatterns {
    margin: 0;
    background-color: #879398;
}