.pattern-component {
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  margin: 0 9px 9px 0;
  width: 320px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
  background-color: #fff;
}

.pattern-component > .inner {
  padding: 12px;
  position: relative;
}

.pattern-component .actions {
  background-image: url('../../images/button-edit.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(38, 50, 56, 0.8);
  border-radius: 3px;
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.pattern-component .actions:hover,
.pattern-component .active > .actions {
  background-color: orange;
}

.pattern-component ul {
  list-style: none;
  padding: 0;
}
